{{!-- {{page-title "Index"}}

<DragDrop @cards={{@model}} />
{{outlet}} --}}

{{!-- {{#each @model as |record|}}
  <h1> {{record.imageUrl}} </h1>
  {{/each}} --}}

<DragDrop @cards={{model}} @model={{model}} />